html {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    background-color: #EAF2F8;
}

body {
    margin: 0;
    padding: 0;
    color: #0C141D;
}

h1 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 84.72;
    font-weight: 800;
    font-style: normal;
}

h2 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 52.36;
    font-weight: 800;
    font-style: normal;
}

h3 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 32.36;
    font-weight: 800;
    font-style: normal;
}

p, 
li,
a {
    font-family: "Quicksand", sans-serif;
    font-size: 20;
    font-weight: normal;
}

a {
    text-decoration: none;
}

/* UI Kit */
.text-style {
    color: #0C141D;
    font-size: 20px;
    text-decoration: none;
}

.textSecundario {
    color: #476B9A;
}

.textCard {
    color: #0C141D;
    font-size: 16px;
    text-decoration: none;
}

.textCardHeader {
    color: #2E4564;
    font-size: 20px;
}

.textCardHeader:hover {
    color: #99B2CA;
}

.text-overlay {
    color: #EAF2F8;
}

.textTitulos {
    color: #0C141D;
    text-decoration: none;
}

.icon-style {
    color: #0C141D;
    text-decoration: none;
}

.icon-style:hover {
    color: #2E4564;
    text-decoration: none;
}

.buttonp {
    font-family: "Quicksand", sans-serif;
    font-size: 20px; 
    background-color: #2E4564 ; 
    color: #EAF2F8;
    padding: 8px 5px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
}

.buttonp:hover {
    background-color: #99B2CA ;
    color: #0C141D;
    font-weight: bold;
}

.buttonpCards {
    font-family: "Quicksand", sans-serif;
    font-size: 16px; 
    background-color: #2E4564 ; 
    color: #EAF2F8;
    padding: 7px 5px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
}

.buttonpCards:hover {
    background-color: #99B2CA ;
    color: #0C141D;
    font-weight: bold;
}

.buttons {
    font-family: "Quicksand", sans-serif;
    font-size: 20px; 
    border: 1px solid #2E4564; 
    color: #2E4564;
    background-color: #EAF2F8;
    padding: 8px 5px;
    border-radius: 6px;
    font-weight: bold;
    border: 1px solid #0C141D;
}

.buttons:hover {
    background-color: #99B2CA ;
    color: #0C141D;
    font-weight: bold;
    border: 1px solid #99B2CA;
}

/* Navbar */
.icon-padding {
    margin-right: 10px;
}

.navbar-container {
    background-color: #EAF2F8 ;
}

.menu-container {
    background-color: #EAF2F8 ;
}

.menu-textHeader {
    color: #0C141D;
}

.menu-text {
    color: #0C141D;
}

.menu-text, a {
    text-decoration: none;
    padding-bottom: 0.5rem;
    font-size: 20px;
}

.menu-text:hover {
    text-decoration: underline;
    padding-bottom: 0.5rem;
    color: #2E4564;
}

/* Hero Area */
.container-ha {
    width: 100%;
    height: auto;
    background-color: #EAF2F8;
    padding: 90px 10px;
}

.container-ha,
h1,
p {
    color: #0C141D;
}

.ha-burbujas {
    position: absolute;
    border-radius: 50%;
    border: 0.2rem solid #0C141D;
}

.bsb-circle-1 {
    width: 50px;
    height: 50px;
    background-color: #0C141D;
    border: none;
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.bsb-circle-2 {
    width: 80px;
    height: 80px;
    background-color: #587DA5;
    position: absolute;
    border: none;
    top: 0%;
    right: 85%;
}

.bsb-circle-3 {
    width: 150px;
    height: 150px;
    background-color: #2E4564;
    position: absolute;
    border: none;
    bottom: 0%;
    left: 0%;
    transform: translateX(-50%);
}

/* tagline - moto */
.card-container {
    background: linear-gradient(to bottom, #EAF2F8 50%, #587DA5 50%);
    margin: 0px auto;
    padding: 20px;
}

.card-tagline {
    margin: 10px;
    background-color: #0C141D;
    border-radius: 15px;
}

/* Case Study Landing */
.section-casos-de-estudio {
    position: relative;
    background-color: #587DA5;
    overflow: hidden;
    padding: 50px 20px 50px 20px;
    margin: 0px;
}

.section-casos-de-estudio::before,
.section-casos-de-estudio::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
    z-index: 0;
}

.section-casos-de-estudio::before {
    width: 300px;
    height: 300px;
    background-color: #99B2CA;
    top: 350px;
    left: -50px;
}

.section-casos-de-estudio::after {
    width: 250px;
    height: 250px;
    background-color: #99B2CA;
    bottom: -100px;
    right: -100px;
}

.section-casos-de-estudio .content {
    position: relative;
    z-index: 1;
    text-align: center;
}

.section-casos-de-estudio h2 {
    color: #EAF2F8;
}

.section-casos-de-estudio p {
    color: #EAF2F8;
    max-width: 800px;
}

/* Skills */
.icon-skill {
    color: #0C141D;
}

.skill-container {
    min-height: 100%;
    padding: 50px 10px 50px 10px;
}

/* Footer */
.footer-container {
    background-color: #2E4564;
    color: #EAF2F8;
    margin: 0px;
}

.footer-icon {
    color: #EAF2F8;
}

/* Forma de contacto */
.contactoContainer {
    background-color: #EAF2F8;
    min-height: 100%;
}

.formContainer {
    min-height: 100%;
}

/* Proyectos */
.proyectosContainer{
    background-color: #EAF2F8;
}

.cardimg {
    height: 640px;
}

.pillColorRW {
    background-color: #587DA5;
}

/* Hero-CaseStudies */
.heroCaseStudies-Container {
    background-image: url(/images/proyectos/gif-rainbow.gif);
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: top;
}

.presentacionContainer {
    background-color: #EAF2F8;
    padding: 60px 10px 0px 10px;
}

.iconProjectDetails {
    color: #EAF2F8;
}

.iconBGProjectDetails {
    background-color: #0C141D;
}

.teamContainer {
    background-color: #587DA5;
    color: #EAF2F8;
}

.procesosContainer {
    background-color: #EAF2F8;
    color: #0C141D;
}

.userflowContainer {
    border-radius: 10px;
    background-color: #0C141D;
    color: #EAF2F8;
}

.userFlowCard {
    min-height: 550px;
}

.userFlowCardContainer {
    height: auto;
}

.userflowImage {
    background-size: contain;
    height: 300px;
    width: 100%;
}

.encuestasBGContainer {
    background-image: url('/images/fondoDescripcion.png'); background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100%; 
    width: 100%;
    margin-top: 1rem;
}

/* Arquitectura de la info */
.arqInformacionCard {
    min-height: auto;
}

.arqInformacionContainer {
    height: auto;
    /* border: 1px solid red; */
}

.arqInformacionImage {
    background-size: contain;
    height: auto;
    width: 100%;
}

.nav .nav-link {
    font-weight: bold;
    color: #0C141D !important;
}

.nav .active {
    font-weight: bold;
    background-color: #0C141D !important;
    color: #EAF2F8 !important;
}

/* Tipografía */
.tipografiaContainer {
    background-color: #0C141D;
    color: #EAF2F8;
    border-radius: 10px;
    height: auto;
}



/* Tarjetas Azul */
.card-stack {
    position: relative;
    width: 200px;
    margin: 50px auto;
}

.card-stack .card {
    width: 300px;
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

/* Color gris */
.card-stack .card:nth-child(1) {
    z-index: 1;
    transform: translate(20px, 20px);
    background-color: #B0BEC5;
    flex-shrink: 0;
    position: absolute;
    top: -30px;
    left: -40px; 
}

/* Color verde azulado */
.card-stack .card:nth-child(2) {
    z-index: 2;
    transform: rotate(2.814deg);
    background-color: #80CBC4;
    flex-shrink: 0;
    position: absolute;
    top: -30px;
    left: 6px;
}

/* Color blanco */
.card-stack .card:nth-child(3) {
    z-index: 3;
    transform: translate(0, 0);
    background-color: #FFFFFF; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
}

/* Tarjetas Rosa */

.card-stack2 {
    position: relative;
    width: 200px;
    margin: 50px auto;
}

.card-stack2 .card {
    width: 300px;
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

/* Color gris */
.card-stack2 .card:nth-child(1) {
    z-index: 1;
    transform: translate(20px, 20px);
    background-color: #B0BEC5;
    flex-shrink: 0;
    position: absolute;
    top: -30px;
    left: -40px;
}

/* Color rosa */
.card-stack2 .card:nth-child(2) {
    z-index: 2;
    transform: rotate(2.814deg);
    background-color: #D87C75;
    flex-shrink: 0;
    position: absolute;
    top: -30px;
    left: 6px;
}

/* Color blanco */
.card-stack2 .card:nth-child(3) {
    z-index: 3;
    transform: translate(0, 0);
    background-color: #FFFFFF; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}


.paletacoloresAmarillo {
    border-radius: 10px;
    background-color: #E8C64D;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

.paletacoloresRosa {
    border-radius: 10px;
    background-color: #D87C75;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

.paletacoloresAzul {
    border-radius: 10px;
    background-color: #83C3BD;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

.paletacoloresBlanco {
    border-radius: 10px;
    background-color: #F5F5F5;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

.paletacoloresNegro {
    border-radius: 10px;
    background-color: #161616;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

.paletacoloresCodigos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;  
}

/* Responsive */
@media (min-width: 992px) {
    .container-ha {
        height: 680px;
    }
}

/* Para tabletas y móviles */
@media (max-width: 991px) {
    .container-ha {
        height: auto;
    }
}

/* Página proyectos */
@media (min-width: 992px) {
    .cardimg {
        height: 640px;
    }
}

/* Para tabletas y móviles */
@media (max-width: 991px) {
    .cardimg {
        height: auto;
    }
}

/* Página Caso de estudio */
@media (min-width: 992px) {
    .projectDetails {
        background: linear-gradient(to bottom, #EAF2F8 50%, #587DA5 50%);
        margin: 0px auto;
        padding: 20px;
    }
}

/* Para tabletas y móviles */
@media (max-width: 991px) {
    .projectDetails {
        background-color: #587DA5;
        margin: 0px auto;
        padding: 20px;
    }
}

/* Tarjetas tipografía */
@media (min-width: 992px) {
    .tipografiaCardContainer {
        height: 520px;
        width: 100%;
        justify-content: center;
        align-items: end;
    }
}

@media (max-width: 768px) {
    .tipografiaCardContainer {
        height: 560px;
    }
}


