html {
    font-family: "Quicksand", sans-serif;
    font-size: 20;
    font-style: normal;
    background-color: #EAF2F8;
}

body {
    /* margin: 0;
    padding: 0; */
    color: #0C141D;
}

h1 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 84.72;
    font-weight: 800;
    font-style: normal;
}

h2 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 52.36;
    font-weight: 800;
    font-style: normal;
}

h3 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 32.36;
    font-weight: 800;
    font-style: normal;
}

p, 
li,a {
    font-family: "Quicksand", sans-serif;
    font-size: 20;
    font-weight: normal;
}

a {
    text-decoration: none;
}

/* UI Kit */
.text-style {
    color: #0C141D;
}

.text-overlay {
    color: #EAF2F8;
}

.buttonp {
    font-family: "Quicksand", sans-serif;
    font-size: 20px; 
    background-color: #2E4564 ; 
    color: #EAF2F8;
    padding: 8px 5px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
}

.buttonp:hover {
    background-color: #99B2CA ;
    color: #0C141D;
    font-weight: bold;
}

.buttons {
    font-family: "Quicksand", sans-serif;
    font-size: 20px; 
    border: 1px solid #2E4564; 
    color: #2E4564;
    background-color: #EAF2F8;
    padding: 8px 5px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
}

.buttons:hover {
    background-color: #99B2CA ;
    color: #0C141D;
    font-weight: bold;
}

/* Navbar */
.icon-padding {
    margin-right: 10px;
}

.navbar-container {
    background-color: #EAF2F8 ;
}

.menu-container {
    background-color: #EAF2F8 ;
}

.menu-textHeader {
    color: #0C141D;
}

.menu-text {
    color: #0C141D;
}

.menu-text, a {
    text-decoration: none;
    padding-bottom: 0.5rem;
    font-size: 20px;
}

.menu-text:hover {
    text-decoration: underline;
    padding-bottom: 0.5rem;
    color: #2E4564;
}

/* Hero Area */
.container-ha {
    width: 100%;
    height: 630px;
    background-color: #EAF2F8;
    padding: 90px 10px;
}

.container-ha,
h1,
p {
    color: #0C141D;
}

.ha-burbujas {
    position: absolute;
    border-radius: 50%;
    border: 0.2rem solid #0C141D;
}

.bsb-circle-1 {
    width: 50px;
    height: 50px;
    background-color: #0C141D;
    border: none;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.bsb-circle-2 {
    width: 80px;
    height: 80px;
    background-color: #587DA5;
    border: none;
    top: 0%;
    right: 85%;
}

.bsb-circle-3 {
    width: 150px;
    height: 150px;
    background-color: #2E4564;
    border: none;
    bottom: 0%;
    left: 0%;
    transform: translateX(-50%);
}

/* tagline - moto */
.card-container {
    background: linear-gradient(to bottom, #EAF2F8 50%, #587DA5 50%);
    max-width: 100%;
}
.card-tagline {
    background-color: #0C141D;
    border-radius: 15px;
}

/* Case Study */
.section-casos-de-estudio {
    position: relative;
    background-color: #587DA5; /* Color base */
    padding: 60px 20px;
    overflow: hidden;
}

.section-casos-de-estudio::before,
.section-casos-de-estudio::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
    z-index: 0;
}

.section-casos-de-estudio::before {
    width: 300px;
    height: 300px;
    background-color: #99B2CA;
    top: 350px;
    left: -50px;
}

.section-casos-de-estudio::after {
    width: 400px;
    height: 400px;
    background-color: #99B2CA;
    bottom: -100px;
    right: -100px;
}

.section-casos-de-estudio .content {
    position: relative;
    z-index: 1;
    text-align: center;
}

.section-casos-de-estudio h2 {
    color: #EAF2F8;
}

.section-casos-de-estudio p {
    color: #EAF2F8;
    max-width: 800px;
}
